<mat-sidenav-container class="w-300px non-navheight shadow-lg">
  <mat-sidenav-content>
    <h1 class="text-center p-3">
      <a routerLink="./">Admin Dashboard</a>
    </h1>
    <ul class="fs-6 text-uppercase d-flex flex-column gap-4">
      <li>
        <strong>activity</strong>
        <ul class="d-flex mt-2 flex-column gap-2 text-muted">
          <li>
            <a routerLinkActive="active-nav-link" routerLink="activities/list">
              list</a
            >
          </li>
          <li>
            <a
              routerLinkActive="active-nav-link"
              routerLink="activities/create"
            >
              create</a
            >
          </li>
        </ul>
      </li>
      <li>
        <strong>registration</strong>
        <ul class="mt-2 text-muted">
          <li>
            <a
              routerLinkActive="active-nav-link"
              routerLink="registrations/list"
              >list</a
            >
          </li>
        </ul>
      </li>
      <li>
        <strong>Joining forms</strong>
        <ul class="mt-2 text-muted">
          <li>
            <a routerLinkActive="active-nav-link" routerLink="join-us/list"
              >list</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </mat-sidenav-content>
</mat-sidenav-container>
