<mat-sidenav-container>
  <mat-sidenav-content>
    <h1 class="text-center p-3">
      <a routerLink="./">Admin Dashboard</a>
    </h1>
    <ul class="border border-1 fs-6 text-uppercase d-flex flex-column gap-3">
      <li>
        <strong> activity</strong>
        <ul>
          <li>
            <a routerLinkActive="active-nav-link" routerLink="activities/list">
              list</a
            >
          </li>
          <li>
            <a
              routerLinkActive="active-nav-link"
              routerLink="activities/create"
            >
              create</a
            >
          </li>
        </ul>
      </li>
      <li>
        <strong>registration</strong>
        <ul>
          <li>
            <a
              routerLinkActive="active-nav-link"
              routerLink="registrations/list"
              >list</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </mat-sidenav-content>
</mat-sidenav-container>
