<mat-sidenav-container>
  <mat-sidenav-content>
    <h1 class="text-center p-3">
      <a routerLink="./">Admin Dashboard</a>
    </h1>
    <ul>
      <li>
        activity
        <ul>
          <li><a routerLink="activities/list"> list</a></li>
          <li><a routerLink="activities/create"> create</a></li>
        </ul>
      </li>
      <li>
        registration
        <ul>
          <li><a routerLink="registrations/list">list</a></li>
        </ul>
      </li>
    </ul>
  </mat-sidenav-content>
</mat-sidenav-container>
