<form class="mt-4" [formGroup]="Form" (ngSubmit)="onSubmit()">
  <div>
    <label class="form-label" for="old_password">old password</label>
    <input class="form-control" type="password" id="old_password" formControlName="old_password" />
  </div>
  <div>
    <label class="form-label" for="new_password">new password</label>
    <input class="form-control" type="password" id="new_password" formControlName="new_password" />
  </div>
  <button class="mt-3 btn btn-primary">
    change Password
  </button>
</form>
