<form class="mt-4" [formGroup]="Form" (ngSubmit)="onSubmit()">
  <div>
    <label class="form-label" for="old_password">old password</label>
    <input [ngClass]="{
      'is-invalid': fieldHasError('old_password'),
      'form-control': true
    }" type="password" id="old_password" formControlName="old_password" />

<div *ngIf="fieldHasError('old_password')" class="invalid-feedback">
  {{ getFieldErrorMessage("old_password") }}
</div>
  </div>
  <div>
    <label class="form-label" for="new_password">new password</label>
    <input  [ngClass]="{
      'is-invalid': fieldHasError('new_password'),
      'form-control': true
    }" type="password" id="new_password" formControlName="new_password" />
       <div *ngIf="fieldHasError('new_password')" class="invalid-feedback">
        {{ getFieldErrorMessage("new_password") }}
      </div>
  </div>
  <button class="mt-3 btn btn-primary" [disabled]="isSubmitting">
    change Password
  </button>
</form>
