<div *ngIf="isLoadingPage; else page">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<ng-template #page>
  <div *ngIf="account; else notFound">
    <app-profile [account]="account"></app-profile>

    <div class="container mt-5">
      <mat-tab-group>
        <mat-tab label="About">
          <app-profile-about [account]="account"></app-profile-about>
        </mat-tab>
        <ng-container *ngIf="isOwner">
          <mat-tab label="Registrations" *ngIf="!isAdmin">
            <app-profile-registrations></app-profile-registrations>
          </mat-tab>
          <mat-tab label="Change Password">
            <app-change-password></app-change-password>
          </mat-tab>
          <mat-tab label="Delete Account">
            <app-profile-delete></app-profile-delete>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </div>

  <ng-template #notFound>
    <div class="container">
      <div class="alert alert-danger text-uppercase mt-5">
        account not found
      </div>
    </div>
  </ng-template>
</ng-template>
