<h1 class="text-center highlight fs-2 mt-5">Meet Our Developers Team !</h1>
<div class="container">
  <div class="row">
    <div class="container col-6">
      <div class="container col-6">
        <div
          class="d-flex gap-3 flex-column justify-content-center align-items-center"
        >
          <img
            src="https://avatars.githubusercontent.com/u/82766570?v=4"
            alt=""
            class="rounded-circle"
          />
          <strong class="text-primary">Chaima Chouikh</strong>
          <span class="">Frontend Develloper</span>
        </div>
      </div>
    </div>
    <div class="row p-spacing fs-6">
      <p>
        Wassim from Douz, Kebili, and Chaima from Elalia, Bizerte, are two
        students at "The Institut Supérieur des Études Technologiques de
        Charguia" who share a passion for technology and the environment.
        Collaborating on a scholastic project, we teamed up to create a website
        for the EcoSave club.
      </p>
      <p>
        Wassim took charge of the technical side, using Django Rest Framework to
        build the backend. Simultaneously, Chaima, with her creative touch,
        worked side by side with Wassim on the frontend, using Angular to shape
        the website's look and feel.
      </p>
      <p>
        Our website allows users to explore EcoSave's activities, register for
        events, and even join the club by sending requests. Users can easily
        monitor their registered activities. To enhance administrative control,
        we added an admin dashboard, accessible only with admin credentials.
        Admins can manage website data, including activities, club join
        requests, and registrations.
      </p>
      <p>
        Beyond being a scholastic endeavor, our project reflects a commitment to
        using technology for a positive impact in our community, promoting both
        environmental awareness and community engagement. Explore our EcoSave
        website—a collaborative scholastic project making a meaningful
        difference!
      </p>
    </div>
  </div>
</div>
