.bg-male {
  background-color: #3a3aae;
}
.bg-female {
  background-color: #9f525f;
}

#profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#profile-img-container {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

#profile-img-container img {
  width: 200px;
  height: 200px;
}
