<div *ngIf="isPageLoading; else page">loading...</div>

<ng-template #page>
  <div>
    <form class="container mb-5" [formGroup]="Form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-11">
          <select
            class="form-select"
            name="activityId"
            id="activityId"
            formControlName="activityId"
          >
            <option *ngFor="let activity of activities" [value]="activity.id">
              {{ activity.title }}
            </option>
          </select>
        </div>
        <div class="col-1">
          <button
            type="submit"
            [disabled]="isSubmitting"
            class="btn btn-primary"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
    <div>
      <div *ngIf="isSubmitting; else dataTable">loading...</div>
      <ng-template #dataTable>
        <div
          *ngIf="registrations.length === 0; else table"
          class="alert alert-warning"
          role="alert"
        >
          No registrations found!
        </div>
        <ng-template #table>
          <table class="table">
            <thead>
              <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>email</th>
                <th>Paiment</th>
                <th colspan="2">Actions</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let registration of registrations">
                <th scope="row">
                  <img
                    [src]="registration.account?.photo_url"
                    alt=""
                    width="40"
                    height="40"
                  />
                </th>
                <td>
                  {{ registration.account?.user?.username! | userNameFormater }}
                </td>
                <td>
                  {{ registration.account?.user?.email }}
                </td>
                <td>
                  <div
                    *ngIf="currentActivityIsFree(); else PaidButtons"
                    class="text-success"
                    disabled
                  >
                    Free
                  </div>
                  <ng-template #PaidButtons>
                    <button
                      *ngIf="!registration.is_payed; else alreadyPaied"
                      class="btn btn-primary"
                      (click)="onPay(registration.id!)"
                    >
                      Pay
                    </button>
                    <ng-template #alreadyPaied>
                      <button
                        class="btn btn-outline-primary"
                        (click)="onUnpay(registration.id!)"
                      >
                        Unpay
                      </button>
                    </ng-template>
                  </ng-template>
                </td>
                <td>
                  <button
                    class="btn btn-outline-danger"
                    [disabled]="isRejected(registration.status!)"
                    (click)="onReject(registration.id!)"
                  >
                    Reject
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-outline-success"
                    [disabled]="isAccepted(registration.status!)"
                    (click)="onAccept(registration.id!)"
                  >
                    Accept
                  </button>
                </td>
                <td>
                  <span
                    class="badge p-2"
                    [ngClass]="{
                'bg-success': isAccepted(registration.status!),
                'bg-danger': isRejected(registration.status!),
                'bg-warning': isPending(registration.status!),
              }"
                  >
                    {{ registration.status }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ng-template>
    </div>
  </div>
</ng-template>
