<mat-card class="example-card shadow">
  <mat-card-header>
    <div mat-card-avatar class="logo-bg"></div>
    <mat-card-title class="fs-6">
      <a [routerLink]="['/activities', activity.id]">
        {{ activity.title | slice : 0 : 40 }}
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="activity.is_free" class="badge bg-success">Free</div>
      <div *ngIf="!activity.is_free" class="badge bg-primary">Paid</div>
    </mat-card-subtitle>
  </mat-card-header>
  <img
    height="300"
    mat-card-image
    [src]="activity.photo_url"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-actions>
    <button
      (click)="onLike()"
      mat-button
      [disabled]="!isAuthenticated || didLike"
    >
      LIKE
      <mat-icon [ngClass]="{ 'been-liked': didLike }">favorite</mat-icon>
    </button>
    <span class="ms-auto badge bg-danger"
      >{{ activity.number_of_likes }} Likes</span
    >
  </mat-card-actions>
</mat-card>
