
<div>
    <h1>Join Us !</h1>
    <p><strong>We are looking for new members to join our team!</strong></p>
</div>

    <form *ngIf="!join" [formGroup]="Form" class="container " (ngSubmit)="JoinClub()">
        <div>
            <label for="find" class="form-label ">How did you Find Us! </label>
            <textarea name="find" id="" cols="30" rows="5" class="form-control " formControlName="how_found_us"></textarea>
            <div *ngIf="haveRequiredError('how_found_us')" class=" alert alert-danger ">
                 this field can't be blank
            </div>
        </div>

     
        <div>
            <label for="reasons" class="form-label ">what's Your Reasons? </label>
            <textarea name="reasons" id="" cols="30" rows="5" formControlName="reasons" class="form-control"  ></textarea>
            <div *ngIf="haveRequiredError('reasons')" class="alert alert-danger ">
                this field can't be blank
           </div>
        </div>
        <div>
            <label for="goals" class="form-label ">What's your Goals for Joinging our Club ?  </label>
            <textarea name="goals" id="" cols="30" rows="5" formControlName="goals" class="form-control "></textarea>
            <div *ngIf="haveRequiredError('goals')" class="alert alert-danger ">
                this field can't be blank
           </div>
        </div>

        <div>
            <label for="" class="form-label ">Recieve Emails </label>
            <input type="checkbox"  formControlName="receive_emails" >
        </div>
        <button type="submit" class="btn btn-success btn-lg" [disabled]="Form.invalid">Join Now</button>
    </form>
   
<div *ngIf="join">
<p>
{{join.status}}
</p>
</div>