<div *ngIf="isPageLoading; else page">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<ng-template #page>
  <div class="mt-5 mb-4">
    <h1 class="fs-2">Join Us !</h1>
    <p class="fst-italic">
      <strong>We are looking for new members to join our team!</strong>
    </p>
  </div>

  <div *ngIf="!isAuthenticated; else authenticatedContent">
    <p>
      <strong
        >You need to be logged in to join our club, please login or register
        first</strong
      >
    </p>
    <div class="d-flex justify-content-center gap-4 mt-4">
      <button routerLink="/signup" class="btn btn-outline-success btn-lg">
        Signup
      </button>
      <button routerLink="/signin" class="btn btn-success btn-lg">
        Signin
      </button>
    </div>
  </div>

  <ng-template #authenticatedContent>
    <form
      *ngIf="!join; else alreadyJoined"
      [formGroup]="Form"
      class="container d-flex flex-column gap-3"
      (ngSubmit)="onSubmit()"
    >
      <app-message-text *ngIf="message" [message]="message"></app-message-text>
      <div>
        <label for="find" class="form-label">How did you Find Us! </label>
        <textarea
          name="find"
          cols="30"
          rows="3"
          formControlName="how_found_us"
          [ngClass]="{
            'is-invalid': fieldHasAnyError('how_found_us'),
            'form-control': true
          }"
        ></textarea>
        <app-input-error-message *ngIf="haveRequiredError('how_found_us')" />
        <app-input-error-message
          *ngIf="fieldHasError('how_found_us')"
          [message]="getFieldServerErrorMessage('how_found_us')"
        />
      </div>

      <div>
        <label for="reasons" class="form-label">what are Your Reasons? </label>
        <textarea
          name="reasons"
          cols="30"
          rows="3"
          formControlName="reasons"
          [ngClass]="{
            'is-invalid': fieldHasAnyError('reasons'),
            'form-control': true
          }"
        ></textarea>
        <app-input-error-message *ngIf="haveRequiredError('reasons')" />
        <app-input-error-message
          *ngIf="fieldHasError('reasons')"
          [message]="getFieldServerErrorMessage('reasons')"
        />
      </div>
      <div>
        <label for="goals" class="form-label"
          >What are your Goals for Joinging our Club ?
        </label>
        <textarea
          name="goals"
          cols="30"
          rows="3"
          formControlName="goals"
          [ngClass]="{
            'is-invalid': fieldHasAnyError('goals'),
            'form-control': true
          }"
        ></textarea>
        <app-input-error-message *ngIf="haveRequiredError('goals')" />
        <app-input-error-message
          *ngIf="fieldHasError('goals')"
          [message]="getFieldServerErrorMessage('goals')"
        />
      </div>

      <div>
        <label for="receive_emails" class="form-check-label"
          >Recieve Emails
        </label>
        <input
          type="checkbox"
          name="receive_emails"
          class="form-check-input"
          formControlName="receive_emails"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-success btn-lg"
          [disabled]="isSubmitting || Form.invalid"
        >
          {{ isSubmitting ? "Loading..." : "Join Now" }}
        </button>
      </div>
    </form>
    <ng-template #alreadyJoined>
      <div
        class="container position-relative shadow-lg p-5 d-flex flex-column gap-4"
      >
        <span
          class="position-absolute badge p-3 fs-6 top-0 end-0 rounded-5 m-3"
          [ngClass]="{
            'bg-success': isAccepted(),
            'bg-danger': isRejected(),
            'bg-warning': isPending(),
            }"
        >
          {{ join?.status }}
        </span>

        <div class="p-3">
          <h3 class="fs-4 text-uppercase text-primary">how you found us ?</h3>
          <p class="ps-4 p-spacing text-start fw-light">
            {{ join?.how_found_us }}
          </p>
        </div>
        <div class="p-3">
          <h3 class="fs-4 text-uppercase text-primary">What are your goals</h3>
          <p class="ps-4 p-spacing text-start fw-light">
            {{ join?.goals }}
          </p>
        </div>
        <div class="p-3">
          <h3 class="fs-4 text-uppercase text-primary">
            reasons for joining the club
          </h3>
          <p class="ps-4 p-spacing text-start fw-light">
            {{ join?.reasons }}
          </p>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ng-template>
