
<form [formGroup]="form" class="container " (ngSubmit)="onSubmit()">
    <div>

        <label for="title"  class="form-label ">Title:</label>
        <input type="text" id="title" formControlName="title" class="form-control ">
        
    </div>
    <div>
        <label for="description"  class="form-label ">Description:</label>
        <textarea id="description" formControlName="description" class="form-control"></textarea>
    </div>
    <div>

        <label for="photo" class="form-label ">Photo:</label>
            <input type="file" id="photo" formControlName="photo" class="form-control">
    </div>
    <div>

        <label for="isFree" class="form-label ">Is Free:</label>
        <input type="checkbox" id="isFree" formControlName="isFree" class="form-input">
    </div>
        <div>

            <label class="form-label" for="price">Price:</label>
            <input class="form-control " type="text" id="price" formControlName="price">
        </div>
  <div>

      <label class="form-label" for="maxParticipants">Max Participants:</label>
      <input class="form-control " type="text" id="maxParticipants" formControlName="maxParticipants">
    </div>
  <div>

      <label class="form-label" for="date">Date:</label>
      <input class="form-control" type="date" id="date" formControlName="date">
      
    <button type="submit" class="btn btn-primary">create</button>
	
	</div>
  </form>
  