<div class="container mt-5">
  <h1 class="text-center fs-1 highlight">Sign in</h1>
  <form [formGroup]="Form" (ngSubmit)="onSubmit()" class="form-signin">
    <app-message-text *ngIf="message" [message]="message"></app-message-text>
    <div class="form-label-group">
      <label class="form-label" for="inputUsername">Username</label>
      <input
        type="text"
        id="inputUsername"
        [ngClass]="{
          'is-invalid': fieldHasAnyError('username'),
          'form-control': true
        }"
        formControlName="username"
        placeholder="Username"
        required
        autofocus
      />
      <app-input-error-message *ngIf="haveRequiredError('username')" />
      <app-input-error-message
        *ngIf="fieldHasError('username')"
        [message]="getFieldServerErrorMessage('username')"
      />
    </div>

    <div class="form-label-group">
      <label class="form-label" for="inputPassword">Password</label>
      <input
        type="password"
        id="inputPassword"
        [ngClass]="{
          'is-invalid': fieldHasAnyError('password'),
          'form-control': true
        }"
        formControlName="password"
        placeholder="Password"
        required
      />
      <app-input-error-message *ngIf="haveRequiredError('password')" />
      <app-input-error-message
        *ngIf="fieldHasError('password')"
        [message]="getFieldServerErrorMessage('password')"
      />
    </div>
    <div class="text-muted mt-3">
      Don't have an account?
      <a routerLink="/signup" class="text-primary">Sign up</a>
    </div>
    <div>
      <button
        class="mt-4 btn btn-primary"
        [disabled]="isSubmitting || Form.invalid"
        type="submit"
      >
        {{ isSubmitting ? "Loading..." : "Sign in" }}
      </button>
    </div>
  </form>
</div>
